alias ll="ls -l"
alias lla="ll -a"
alias wk="~/Documents/workspace"
alias dot="~/Documents/dotfiles"

alias gits="git status"
alias gita="git add ."
alias gitc="git commit -m"
alias gitco="git checkout"
alias gitb="git branch"
alias gitl="git log"
