alias ll="ls -l"
alias la="ll -a"
alias wk="~/Documents/workspace"
alias dot="~/Documents/dotfiles"
alias aliases="vi ~/Documents/dotfiles/.aliases && source ~/Documents/dotfiles/.aliases"
alias functions="vi ~/Documents/dotfiles/.functions && source ~/Documents/dotfiles/.functions"

alias gits="git status"
alias gita="git add ."
alias gitc="git commit -m"
alias gitco="git checkout"
alias gitb="git branch"
alias gitl="git log"

alias dockerc="echo y | docker container prune && docker images | egrep \"^<none>\" | awk '{print $3}' | xargs docker image rm"
